/* Todo.css */
.todoSection {
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
}

.btn-delete {
    padding: 8px;
    background-color: rgb(246, 165, 34);
    cursor: pointer;
}
